//font-family: "Montserrat", sans-serif;
font-family: "Playfair Display", serif;

.hero {
  background: #c0bfc5;
}

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}
